body {
  background-image:url("dark-red-mahogany.jpg");
  color: #333;
	font-family: TypewriterSerial;
	font-weight: normal;
	font-style: normal;
 }

strong, h1, h2, h3, h4, h5, h6 {
	font-family: TypewriterSerial-Bold;
	font-weight: normal;
	font-style: normal;
}

header#page {
	margin: 2em;
	margin-top: 4em;
	h1 {
		color: white;
		text-shadow: 0 1px 1px #000;
		font-size: 40px;
		float:left;
		padding-right: 40px;
	}
}

p, ol, ul, td {
  font-size: 13px;
  line-height: 18px; }

div {
  &.field, &.actions {
    margin-bottom: 10px; } }

#notice {
  color: green; }

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table; }

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0px;
    background-color: #c00;
    color: #fff; }
  ul li {
    font-size: 12px;
    list-style: square; }
}


a.button, input[type="submit"] {
	@include button(shiny, #333333);
	font-family: TypewriterSerial-Bold;
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	padding: 10px;
	color: white;
	text-decoration: none;
}

#main-footer {
	clear: left;
	background-color: rgba(0,0,0,0.5);
	padding: 20px;
	padding-top: 25px;
	margin-top: 20px;
	p {
		color:black;
		font-size: 16px;
		text-shadow: 0 1px 0 #333;
		a {
			color: white;
			text-decoration: none;
			text-shadow: 0 -1px 1px #000;
		}
	}
}


