<!DOCTYPE html>
<html>
<head>
  <title>Wall Street Top Tramp$</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer id="main-footer">
  <p>Powdered by <a href="http://littlesis.org/">Littlesis</a>, Made by <a href="http://chrismasters.net/">Chris Masters</a> &amp; <a href="http://smallab.org/">Matthieu Savary</a></p>
</footer>
</body>
</html>
